/* ---------------------------------------- */
/* ==       ÉLÉMENTS PRINCIPAUX         */
/*---------------------------------------- */

/*   POLICE   */
@font-face {
    font-family: "SnellRoundhandW01-Script"; 
    src: url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.eot"); 
    src: url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.eot?#iefix") format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/f8deb3c1a029ec56b15bb462c1518f07.svg#SnellRoundhandW01-Script") format("svg"); } 



body
{
    font-family: Georgia, serif;
}
        

img
{
	width: 100%;
	height: auto;
}

#bloc_page
{
    max-width: 1440px;
    margin: auto;
    background-color: #dedcd0;
}

header
{
    text-align: center;
    padding-bottom: 20px;

}

.form_log_reg
{
    text-align: center;
}

h1
{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}

h2
{
    text-align: center;
    margin-bottom: 50px;
}

.container
{
    margin-bottom: 50px;
    padding: 0px;
}

div.col-md-4 p
{
    text-align: center;
}
div.col-md-4 h2
{
    margin-bottom: 30px;
}


.trait
{
    border: solid black 1px;
    margin: 20px 0px 20px 0px;
}

#page_single
{
    padding: 35px 50px 35px 50px;
}

article footer h5
{
    font-size: 15px;
    text-align: right;
}

.commentaire
{
    border: solid black 1px;
    border-radius: 20px 0px;
    padding: 15px;
    margin-bottom: 16px;
}

.trait_commentaire
{
    border: 1px solid black;
    opacity: 0.5;
    margin: 20px 0px 20px 0px;
}

.poste
{
    display: flex;
    justify-content: space-between;
}

.poste h5
{
    font-size: 13px;
    font-style: italic;
}

table td
{
    padding-left: 25px;
}
