/* ---------------------------------------- */
/* ==       ÉLÉMENTS PRINCIPAUX         */
/*---------------------------------------- */

body
{
    font-family: Georgia, serif;
    background-color: #dedcd0;
}
        

img
{
	width: 100%;
	height: auto;
}

#page_garde
{
    padding: 35px 50px 100px 50px;
}

h1
{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}

h2
{
    text-align: center;
    margin-bottom: 50px;
}

/* ---------------------------------------- */
/* ==              HEADER                   */
/*---------------------------------------- */

header
{
    text-align: center;
    padding-bottom: 20px;

}

.trait
{
    border: solid black 1px;
    margin: 20px 0px 20px 0px;
}


/* ---------------------------------------- */
/* ==              PAGE                   */
/*---------------------------------------- */

/*   PAGE   */
.trait
{
    border: solid black 1px;
    margin: 20px 0px 20px 0px;
}

.container-fluid
{
    padding: 0px;
}

/*   ARTICLE   */
article footer h5
{
    font-size: 15px;
    text-align: right;
}

/*   CHAPITRE   */
.container
{
    margin-bottom: 50px;
    padding: 0px;
}

div.col-md-4 p
{
    text-align: center;
}

div.col-md-4 h2
{
    margin-bottom: 30px;
}


/*   COMMENTAIRE   */
.commentaire
{
    border: solid black 1px;
    border-radius: 20px 0px;
    padding: 15px;
    margin-bottom: 16px;
}

.trait_commentaire
{
    border: 1px solid black;
    opacity: 0.5;
    margin: 20px 0px 20px 0px;
}

.poste
{
    display: flex;
    justify-content: space-between;
}

.poste h5
{
    font-size: 13px;
    font-style: italic;
}

/*   FOOTER  */
.page-footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}


/*   ADMINISTRATION   */
table h2                                              
{
    text-align: center;
    margin-bottom: 0px;
}
tbody th
{
    padding-left: 25px;
}
table td
{
    padding-left: 25px;
}


/*   PAGE ERREUR   */
.error-details
{
    text-align: center;
}

.error-actions
{
    text-align: center;
}


/* ---------------------------------------- */
/* ==          MEDIA QUERIES             */
/*---------------------------------------- */

@media screen and (max-width: 768px) {

    #page_garde
    {
        padding: 10px 10px 100px 10px;
    }

        /* Tableau */
        tbody th
        {
            display: none;
        }
        
        table td
        {
            display: flex;
        }
    
        table td
        {
            padding: 10px;
        }
        td a
        {
            padding-right: 10px;
        }
        
    }    
    
        /* Fin du Tableau */